@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}
body {
    background-color: #f5f7f8;
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    height: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white; 
}

#div_logo {
    margin-left: 32px;
}

#logo {
    font-size: 24px;
    font-weight: 800;
    color: #006876;
    margin: 0;
}

#div_links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 14px;
}

#div_botoes {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-right: 32px;
}

.botoes {
    border: none;
    font-size: 14px;
    font-weight: bold;
    width: 130px;
    height: 36px;
    border-radius: 50px;
    background: linear-gradient(to right, #006876 0%, #00BCD4 100%);
    color: white;
    cursor: pointer;
}
a{
    text-decoration: none;
}

/* TOPO */
.box-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

.status {
    margin-top: 10px;
    color: green;
    font-size: 14px;
}

/* SELECT */
.opcoes_sensores {
    padding: 8px;
    border-radius: 8px;
}

/* ALERTA */
.alerta {
    margin: 0 60px;
    background: #f8d7da;
    color: #842029;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CONTEÚDO */
.box-inferior {
    display: flex;
    gap: 20px;
    padding: 30px 60px;
}

/* GRAFICO */
.grafico {
    flex: 2;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.img-grafico {
    width: 100%;
    margin: 15px 0;
    border-radius: 10px;
}

/* INFO */
.info-grafico {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.critico {
    color: red;
}

.btn-sec {
    padding: 6px 12px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: white;
}

/* TEMPERATURA */
.temperatura {
    flex: 1;
    background: linear-gradient(135deg, #0c8a8f, #14b8a6);
    color: white;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.temperatura h2 {
    font-size: 40px;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background: #f8fafb;
}

.footer_brand h2 {
    color: #006876;
    margin-bottom: 10px;
}

.footer_brand p {
    color: #888;
    font-size: 13px;
}

.footer_col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_col span {
    color: #999;
    font-size: 11px;
    font-weight: bold;
}

.footer_col a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.footer_icons {
    display: flex;
    gap: 15px;
}

.footer_icons img {
    width: 15px;
    min-width: 15px;
    opacity: 1;
}

a {
    text-decoration: none; /* Tira o sublinhado */
    color: inherit;        /* Faz o link ter a mesma cor do texto pai */
}
